@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply font-roboto-mono text-sm box-border
  }

  .nav-tab {
    @apply hover:opacity-100 cursor-pointer opacity-50 transition-all duration-300 border-t-2 border-transparent hover:border-slate-500 hover:dark:border-slate-500
  }

  .social-tab {
    @apply hover:opacity-100 cursor-pointer opacity-50 transition-all duration-300
  }

  
  .project-list {
    padding-top: 0.2rem;
  }

  .project-list .project-item {
    position: relative;
    padding-inline-start: 1rem;
    padding-top: 0.3rem;
    transition-property: padding-inline-start;
    transition-duration: 300ms;
    
    &:hover {
      padding-inline-start: 2rem;
    }
  }


  .project-list .project-item::before {
    content: '–';
    position: absolute;
    left: 0rem;
  }

  .project-list .project-item:hover::before {
    content: '|';

  }

  .tab {
    @apply border-[1px] border-slate-300 dark:border-slate-700 px-1 my-1 rounded-sm hover:bg-slate-300 dark:hover:bg-slate-700 transition-all duration-300
  }
}

@layer utilities {

}

@layer components {
  .container {
    @apply max-w-[70ch] m-auto
  }

  .highlight {
    @apply border-[1px] border-opacity-25 dark:border-opacity-25 bg-blue-100 dark:bg-blue-950 border-blue-900 dark:border-blue-400 rounded-sm px-1
  }

  .blue-border {
    @apply border-[1px] border-dotted rounded-md border-slate-500 dark:border-slate-500
  }

  .checkbox {
    @apply border-[1px] border-red-500
  }
}