@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply font-roboto-mono text-sm box-border
  }

  .nav-tab {
    @apply hover:opacity-100 cursor-pointer opacity-50 transition-all duration-300 hover:border-t-2 border-slate-500 dark:border-slate-500
  }
  
  .project-list {
    padding-top: 0.2rem;
  }

  .project-list li {
    position: relative;
    padding-inline-start: 1rem;
    padding-top: 0.3rem;
    transition-property: padding-inline-start;
    transition-duration: 300ms;
    
    &:hover {
      padding-inline-start: 2rem;
    }
  }


  .project-list li::before {
    content: '–';
    position: absolute;
    left: 0rem;
  }

  .project-list li:hover::before {
    content: '|';

  }
}

@layer utilities {

}

@layer components {
  .container {
    @apply max-w-[70ch] m-auto
  }

  .checkbox {
    @apply border-[1px] border-red-500
  }
}